<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">

	<context:component-scan base-package="com.springbook.biz" />

	<aop:aspectj-autoproxy></aop:aspectj-autoproxy>


	<!-- DataSource 설정 --> 
	<context:property-placeholder location="classpath:config/database_orcl.properties" />
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	

	<!-- mybatis사용을 위한 sessionFactory 등록 -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:sql-map-config.xml" />
	</bean>
	<bean class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg ref="sqlSession"></constructor-arg>
	</bean>
	

	<!-- Google 소셜 로그인 연결 설정 -->
    <bean id="googleOAuth2Template"
        class="org.springframework.social.google.connect.GoogleOAuth2Template">
        <constructor-arg
            value="917704623053-1sfiershm02enjvgvctebp2152vv2ems.apps.googleusercontent.com" />
        <constructor-arg value="18Viz1UG23PhJhQHjD7k6N74" />
    </bean>
    <bean id="googleOAuth2Parameters"
        class="org.springframework.social.oauth2.OAuth2Parameters">
        <property name="scope" value="profile"></property>
        <property name="redirectUri"
            value="http://localhost:8080/spring/googlecallback.userdo" />
    </bean>
    <bean id="authInfo" class="com.springbook.view.user.GoogleAuthInfo">
        <constructor-arg value="917704623053-1sfiershm02enjvgvctebp2152vv2ems.apps.googleusercontent.com" />
        <constructor-arg value="18Viz1UG23PhJhQHjD7k6N74" />
    </bean>
    
    <!-- Facebook 소셜 로그인 연결 설정 -->
    <bean id="connectionFactory"
        class="org.springframework.social.facebook.connect.FacebookConnectionFactory">
        <constructor-arg value="387651321840926" />
        <constructor-arg value="b745f8e3b2ba90fdef1889dc5aae6582" />
    </bean>
    <bean id="FacebookoAuth2Parameters"
        class="org.springframework.social.oauth2.OAuth2Parameters">
        <property name="scope" value="email" />
        <property name="redirectUri" value="https://localhost:8443/spring/Facebookcallback.userdo" />
    </bean>
	
</beans>
